<div class="clr-row">
  <div class="clr-col-6">
    <h1>Divisions</h1>
  </div>
  <div class="clr-col-6 text-right">
    <button id="addDivisionBtn" class="btn btn-primary" (click)="addDivision()">Add Division</button>
  </div>
</div>

<ng-container *ngIf="divisions$ | async as divisions; else: loading">
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column>Active</clr-dg-column>

    <clr-dg-placeholder>No divisions have been added yet. <a routerLink="/divisions/new">Add Division</a></clr-dg-placeholder>

    <clr-dg-row *clrDgItems="let division of divisions">
      <clr-dg-cell><a [routerLink]="['/divisions', division.id, 'edit']">{{ division.name | titlecase }}</a></clr-dg-cell>
      <clr-dg-cell>{{ division.active ? 'Yes' : 'No' }}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
          <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Divisions per page</clr-dg-page-size>
          {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          of {{pagination.totalItems}} divisions
      </clr-dg-pagination>
  </clr-dg-footer>
  </clr-datagrid>
</ng-container>
<ng-template #loading>
  <div class="text-center">
    <span class="spinner">
      Loading...
    </span>
  </div>
</ng-template>

<clr-alert [clrAlertClosable]="false" clrAlertType="danger" *ngIf="errorLoadingMsg">
  <clr-alert-item>
    <span class="alert-text">{{ errorLoadingMsg }}</span>
  </clr-alert-item>
</clr-alert>